@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Montserrat:wght@400;500;600;800&family=Playfair+Display:wght@700&display=swap');
$color-primary: #484a4b;
$color-secondary:#765a33;
$color-nav:#c87e6b;
$color-list:#6b502c;
$color-background: #ddc57c;
$color-sale-background: #424242;
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Playfair Display', serif;
$font-terciary: 'Josefin Slab', serif;